<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Машинки</title>
</head>
<body>
<table border="6">
    <thead>
    <tr>
        <th>Модель</th>
        <th>Год выпуска</th>
        <th>ID</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="car : ${cars}">
        <td th:text="${car.getModel()}">Модель</td>
        <td th:text="${car.getYear()}">Год выпуска</td>
        <td th:text="${car.getId()}">ID</td>
    </tr>
    </tbody>
</table>

</body>
</html>